<!DOCTYPE html>
<html lang="es">
    {% include 'components/head.html' %}
    {% include 'components/header.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary my-3" href="#" onclick="javascript:history.go(-1)">Volver atrás</a>
                    <h1 class="mb-3">Asistencias - {{materia.nombre}} </h1>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if asistencias %}
                                {% for asistencia in asistencias %}
                                <tr>
                                    <td>{{ asistencia.fecha }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>Aún no se han registrado asistencias para esta materia.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>