<!DOCTYPE html>
<html lang="es">
    {% include 'components/head.html' %}
    {% include 'components/header.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Menu estudiante</h2>
                    <ul>
                        {% if materias %}
                            {% for materia in materias %}
                                <li><a href="{% url 'control_asistencia:estudiante.asistencias_de_materia' materia.uid %}">{{ materia.nombre }}</a></li>
                            {% endfor %}
                        {% else %}
                            <p> Aún no se han computado materias para este estudiante.</p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>