<!DOCTYPE html>
<html lang="es">
    {% include 'components/head.html' %}
    {% include 'components/header.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="my-3">Materias del estudiante</h2>
                    {% if materias %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Materia</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for materia in materias %}
                                <tr>
                                    <td>{{materia.nombre}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'control_asistencia:estudiante.asistencias_de_materia' materia.uid %}">Ver asistencias</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p> Aún no se han registrado materias para este estudiante.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>