<!DOCTYPE html>
<html>    
    {% include 'components/head.html' %}
    {% include 'components/header.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">  
                    <div class="card-body p-5 text-center">          
                        <h1>¿Desea cerrar sesión?</h1>
                        <div class="d-flex align-items-center justify-content-center my-3">
                            <a class="btn btn-danger mr-5"  href="#" onclick="javascript:history.go(-1)">No</a>
                            <a class="btn btn-success" href="{% url 'control_asistencia:cerrarSesion' %}">Si</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>