<div>
    <h1>CONTROL DE ASISTENCIAS</h1>
    <br>
        <a href = "{% url 'control_asistencia:formulario_asistencia'%}">Ingresar al formulario de asistencia</a>
    <br>
    <h3>Ver asistencias por fecha</h3>
    <ul>
        {% if fechas %}
            {% for fecha in fechas %}
                <li><a href="{% url 'control_asistencia:asistencias_por_fecha' fecha %}">{{fecha}}</a></li>
            {% endfor %}
        {% else %}
            <p>Aún no se han computado asistencias.</p>
        {% endif %}
    </ul>
</div>