<!DOCTYPE html>
<html>    
    {% include 'components/head.html' %}
<body>
  <section class="vh-100 gradient-custom" style="height: 100vh;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 h-80">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <form method="post" class="mb-md-5 mt-md-4 pb-2">
                {% csrf_token %}
                <h1 class="fw-bold mb-5 text-uppercase">CONTROL DE ASISTENCIA</h2>
                <h3 class="fw-bold mb-2 text-uppercase">Inicio de sesión</h2>
  
                <div class="form-outline form-white mb-4">
                  <input name="username" type="text" id="typeEmailX" class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX">Cédula</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input name="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX">Contraseña</label>
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<style>
    .gradient-custom {

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgb(255, 71, 249))
  }
</style>