<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <title>Menu docente</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bienvenido {{user.username}}</h1>
                <h2>Menu docente</h2>
                <ul>
                    {% for materia in materias %}
                    <li><a href="{% url 'control_asistencia:docente.seleccionar_fecha' materia.uid %}">{{ materia.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        <a href="{% url 'control_asistencia:cerrar_Sesion' %}">Cerrar sesión</a>
</body>
</html>